# Archivos de configuración sensibles
.env

# Excluir archivos CSV en data/lunar_data/ (excepto DLL)
data/lunar_data/*.csv

# Datos financieros crudos (nunca subirlos a GitHub por peso y copyright)
data/financial_data/raw/*
!data/financial_data/raw/.gitkeep

# Datos intermedios (generados)
data/interim/*
!data/interim/.gitkeep

# Resultados procesados (generados dinámicamente)
data/processed/*
!data/processed/.gitkeep


# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Entornos virtuales
venv311/
venv/
lunar_phases/
env/

# Archivos de logs
logs/*
!logs/.gitkeep

# Archivos del sistema operativo
.DS_Store  # macOS
Thumbs.db  # Windows
Desktop.ini

# Archivos de IDEs
.vscode/
.idea/
